<!--<iframe id="callFrame" src="https://tokbox.com/embed/embed/ot-embed.js?embedId=39b8b6bd-816f-4872-a28a-5b314b28dd81&room={{room}}&iframe=true" width="800px" height="640px" scrolling="auto" allow="microphone; camera" ></iframe>-->

<div id="otEmbedContainer"></div> 

<div id="userControls" data-active="false">

    <div id="endCall">
        End Call
    </div>
    
</div>

<script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=39b8b6bd-816f-4872-a28a-5b314b28dd81&room=DEFAULT_ROOM"></script>

<script>
    (function(){

        'use strict';

        var startCallButton = null;

        var userControls = document.querySelector('#userControls');
        var userEndCallBtn = document.querySelector('#endCall');

        userEndCallBtn.addEventListener('click', function(){

            window.location.href = "/directory";

        }, false);

        function detectStartBtn(){
            
            startCallButton = document.querySelector('.Embed .Embed-main #start-mask #start')

            console.log(startCallButton);

            if(startCallButton === null){

                setTimeout(detectStartBtn, 100);
                
            } else {

                startCallButton.addEventListener('click', function(){
                    userControls.dataset.active = "true";
                }, false);

            }

        }

        setTimeout(detectStartBtn, 100);


    }());
</script>