<header>
    <h1>Make a Call</h1>
    <hr>
    <h2>Who would you like to call?</h2>
</header>

<section>

    <ul>
        <li><a href="/call/Sean">Call Sean</a></li>
        <li><a href="/call/Kara">Call Kara</a></li>
        <!--<li><a href="/call/all">Call Both</a></li>-->
    </ul>

</section>