<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script src="/socket.io/socket.io.js"></script>
<script>
    
    const socket = io.connect( window.location.origin );
    socket.emit('data', { hello : 'world' });

</script>
