<header>
    <h1>Tracey Clan Hotline</h1>
    <em>for phoning home</em>
</header>


<form method="POST" action="/account/login">
    <div class="bottom">
        <input type="text" name="name" placeholder="Name" />
        <input type="password" name="password" placeholder="Password" />
    </div>
    <input type="submit" value="Login" />
</form>