body{
  background-image: url('/assets/images/background.png');
  background-size: cover;
  background-position: 50%;
}

html, body{
  font-display: swap;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0px;
  background-attachment: scroll;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Amiri', serif;
}

body{
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: #00B7FF;
}

#admin ul{
  padding: 0;
  border: 1px solid #b3b3b3;
}

#admin ul li{
  list-style-type: none;
  box-sizing: border-box;
  padding: 1em 1em 1.5em;
  border-bottom: 1px solid #b3b3b3;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

#admin ul li:nth-child(odd) {
  background: #f7f7f7;
}

#admin ul li:last-of-type{
  border-bottom: 0px;
}

#admin ul li p{
  margin-top: 0;
  font-weight: 800;
  width: 100%;
}

form input[type="text"], form input[type="password"] {
  font-size: 1em;
  border: 1px solid #8a8a8a;
  padding: 0.5em;
  border-radius: 3px;
}

form input[type="submit"].adminBtn{
  -webkit-appearance: none;
  padding: 0.3em 0.5em;
  background: #00a1ff;
  border: 1px solid #1379b5;
  color: white;
  font-size: 1em;
  border-radius: 3px;
  text-shadow: 0 0 1px black;
  margin-left: 1em;
}

form input[type="submit"].delete{
  background: #ef5353;
  border: 1px solid red;
}

header{
  margin-bottom: 1em;
}

header h1{
  font-size: 3.5em;
  margin-bottom: 0;
  line-height: 1em;
}

header em{
  font-size: 1.5em;
  font-weight: 200;
}

form input[type="submit"]{
  background: transparent;
  color: black;
  text-shadow: none;
  border: 1px solid black;
  font-size: 1.2em;
  padding: 0.5em 2em;
  border-radius: 3px;
}

.bottom{
  margin-bottom: 1em;
}

#directory section ul{
  margin: 0;
  padding: 0;
}

#directory section ul li{
  list-style-type: none;
  margin-bottom: 2em;
  width: 75vw;
}

#directory section ul li a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 2em;
  display: block;
  text-align: left;
  background: white;
  padding: 0.8em 1em;
  border-radius: 5px;
  box-shadow: 0 2px 3px #00000080;
  background-image: url(/assets/images/phone_icon.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 30px;
}

#otEmbedContainer{
  width: 100%;
  height: 100%;
}

#otEmbedContainer .Embed-main {
  margin: 0;
  box-sizing: border-box;
  border: 0 solid transparent;
}

#otEmbedContainer .Embed-main .Embed-mask{
  background: rgba(0,0,0,0.5);
}

.Embed-mask .message.button {
  border: 1px solid black;
  font-weight: 800;
}